@use '@angular/material' as mat;
@use 'ui';

@use 'app/map-page/map-page-theme';

@include mat.core(ui.$atrius-typography-config);
@include ui.core();

$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme($primary, $accent, $warn);

@mixin app-theme($theme) {
  @include map-page-theme.theme($theme);
}

.theme {
  @include ui.theme($theme);
  @include app-theme($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
