@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config) {
  $background: map.get($config, background);

  atrius-map-page {
    .drawer-handle {
      background: mat.get-color-from-palette($background, app-bar);
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);

  @if $color != null {
    @include color($color);
  }
}
